In [2]:
import itertools

with open('cars_2014.csv') as f:
    for row in itertools.islice(f, 0, 20):
        print(row, end='')

make,model
ACURA,ILX
ACURA,MDX
ACURA,RDX
ACURA,RLX
ACURA,TL
ACURA,TSX
ALFA ROMEO,4C
ALFA ROMEO,GIULIETTA
APRILIA,CAPONORD 1200
APRILIA,RSV4 FACTORY APRC ABS
APRILIA,RSV4 R APRC ABS
APRILIA,SHIVER 750
ARCTIC CAT,1000 XT
ARCTIC CAT,500 XT
ARCTIC CAT,550 XT
ARCTIC CAT,700 LTD
ARCTIC CAT,700 SUPER DUTY DIESEL
ARCTIC CAT,700 XT
ARCTIC CAT,90 2X4 4-STROKE

In [3]:
from collections import defaultdict

In [7]:
makes = defaultdict(int)

In [5]:
makes['sdasfsd']

0

In [8]:
with open('cars_2014.csv') as f:
    next(f)
    for row in f:
        make, _ = row.strip('\n').split(',')
        makes[make] += 1

for key, value in makes.items():
    print(f'{key}: {value}')

ACURA: 6
ALFA ROMEO: 2
APRILIA: 4
ARCTIC CAT: 96
ARGO: 4
ASTON MARTIN: 5
AUDI: 27
BENTLEY: 2
BLUE BIRD: 1
BMW: 86
BUGATTI: 1
BUICK: 5
CADILLAC: 7
CAN-AM: 61
CHEVROLET: 33
CHRYSLER: 2
DODGE: 7
DUCATI: 4
FERRARI: 6
FIAT: 2
FORD: 34
FREIGHTLINER: 7
GMC: 12
HARLEY DAVIDSON: 29
HINO: 7
HONDA: 91
HUSABERG: 4
HUSQVARNA: 9
HYUNDAI: 13
INDIAN: 3
INFINITI: 8
JAGUAR: 9
JEEP: 5
JOHN DEERE: 19
KAWASAKI: 59
KENWORTH: 11
KIA: 10
KTM: 13
KUBOTA: 4
KYMCO: 28
LAMBORGHINI: 2
LAND ROVER: 6
LEXUS: 14
LINCOLN: 6
LOTUS: 1
MACK: 9
MASERATI: 3
MAZDA: 5
MCLAREN: 2
MERCEDES-BENZ: 60
MINI: 3
MITSUBISHI: 8
NISSAN: 24
PEUGEOT: 3
POLARIS: 101
PORSCHE: 4
RAM: 6
RENAULT: 4
ROLLS ROYCE: 3
SCION: 5
SEAT: 3
SKI-DOO: 67
SMART: 1
SRT: 1
SUBARU: 10
SUZUKI: 48
TESLA: 2
TOYOTA: 19
TRIUMPH: 10
VESPA: 4
VICTORY: 14
VOLKSWAGEN: 16
VOLVO: 8
YAMAHA: 110

In [18]:
data = (1, 2, 2, 2, 3)

In [19]:
list(itertools.groupby(data))

[(1, <itertools._grouper at 0x1d21b9bd1e0>),
 (2, <itertools._grouper at 0x1d21b9be530>),
 (3, <itertools._grouper at 0x1d21b9be9e0>)]

In [20]:
it = itertools.groupby(data)
for group in it:
    print(group[0], list(group[1]))

1 [1]
2 [2, 2, 2]
3 [3]

In [21]:
data = (
    (1, 'abc'),
    (1, 'bcd'),

    (2, 'pyt'),
    (2, 'yth'),
    (2, 'tho'),

    (3, 'hon')
)

In [22]:
data

((1, 'abc'), (1, 'bcd'), (2, 'pyt'), (2, 'yth'), (2, 'tho'), (3, 'hon'))

In [23]:
groups = itertools.groupby(data, key=lambda x: x[0])

In [24]:
list(groups)

[(1, <itertools._grouper at 0x1d21b9be710>),
 (2, <itertools._grouper at 0x1d21b9bc5b0>),
 (3, <itertools._grouper at 0x1d21b9be500>)]

In [25]:
list(groups)

[]

In [26]:
groups = itertools.groupby(data, key=lambda x: x[0])
for group_key, sub_iter in groups:
    print(group_key, list(sub_iter))

1 [(1, 'abc'), (1, 'bcd')]
2 [(2, 'pyt'), (2, 'yth'), (2, 'tho')]
3 [(3, 'hon')]

In [27]:
def gen_groups():
    for key in range(1, 4):
        for i in range(3):
            yield (key, i)

In [38]:
g = gen_groups()

In [39]:
groups = itertools.groupby(g, key=lambda x: x[0])

In [40]:
for group in groups:
    print(group[0], list(group[1]))

1 [(1, 0), (1, 1), (1, 2)]
2 [(2, 0), (2, 1), (2, 2)]
3 [(3, 0), (3, 1), (3, 2)]

In [41]:
list(g)

[]

In [42]:
list(groups)

[]

In [43]:
with open('cars_2014.csv') as f:
    next(f)
    make_groups = itertools.groupby(f, lambda x: x.split(',')[0])

In [44]:
list(make_groups)

ValueError: I/O operation on closed file.

In [46]:
with open('cars_2014.csv') as f:
    next(f)
    make_groups = itertools.groupby(f, lambda x: x.split(',')[0])

    print(list(itertools.islice(make_groups, 5)))

[('ACURA', <itertools._grouper object at 0x000001D21B9BFA60>), ('ALFA ROMEO', <itertools._grouper object at 0x000001D21BC9C490>), ('APRILIA', <itertools._grouper object at 0x000001D21BC9F5B0>), ('ARCTIC CAT', <itertools._grouper object at 0x000001D21BC9FBE0>), ('ARGO', <itertools._grouper object at 0x000001D21BC9F4C0>)]

In [47]:
with open('cars_2014.csv') as f:
    next(f)
    make_groups = itertools.groupby(f, lambda x: x.split(',')[0])
    make_counts = ((key, len(models)) for key, models in make_groups)
    print(list(make_counts))

TypeError: object of type 'itertools._grouper' has no len()

In [48]:
def squares(n):
    for i in range(n):
        yield i**2

In [50]:
sq = squares(5)

In [51]:
i = 0
for item in sq:
    i += 1
print(i)

5

In [52]:
def len_iterable(iterable):
    i = 0
    for item in iterable:
        i += 1
    return i

In [55]:
len_iterable(squares(8))

8

In [56]:
'a', 'b', 'c'

('a', 'b', 'c')

In [57]:
sum((1,1,1))

3

In [59]:
sum(1 for i in squares(8))

8

In [60]:
with open('cars_2014.csv') as f:
    next(f)
    make_groups = itertools.groupby(f, lambda x: x.split(',')[0])
    make_counts = ((key, sum(1 for model in models)) for key, models in make_groups)
    print(list(make_counts))

[('ACURA', 6), ('ALFA ROMEO', 2), ('APRILIA', 4), ('ARCTIC CAT', 96), ('ARGO', 4), ('ASTON MARTIN', 5), ('AUDI', 27), ('BENTLEY', 2), ('BLUE BIRD', 1), ('BMW', 86), ('BUGATTI', 1), ('BUICK', 5), ('CADILLAC', 7), ('CAN-AM', 61), ('CHEVROLET', 33), ('CHRYSLER', 2), ('DODGE', 7), ('DUCATI', 4), ('FERRARI', 6), ('FIAT', 2), ('FORD', 34), ('FREIGHTLINER', 7), ('GMC', 12), ('HARLEY DAVIDSON', 29), ('HINO', 7), ('HONDA', 91), ('HUSABERG', 4), ('HUSQVARNA', 9), ('HYUNDAI', 13), ('INDIAN', 3), ('INFINITI', 8), ('JAGUAR', 9), ('JEEP', 5), ('JOHN DEERE', 19), ('KAWASAKI', 59), ('KENWORTH', 11), ('KIA', 10), ('KTM', 13), ('KUBOTA', 4), ('KYMCO', 28), ('LAMBORGHINI', 2), ('LAND ROVER', 6), ('LEXUS', 14), ('LINCOLN', 6), ('LOTUS', 1), ('MACK', 9), ('MASERATI', 3), ('MAZDA', 5), ('MCLAREN', 2), ('MERCEDES-BENZ', 60), ('MINI', 3), ('MITSUBISHI', 8), ('NISSAN', 24), ('PEUGEOT', 3), ('POLARIS', 101), ('PORSCHE', 4), ('RAM', 6), ('RENAULT', 4), ('ROLLS ROYCE', 3), ('SCION', 5), ('SEAT', 3), ('SKI-DOO', 67), ('SMART', 1), ('SRT', 1), ('SUBARU', 10), ('SUZUKI', 48), ('TESLA', 2), ('TOYOTA', 19), ('TRIUMPH', 10), ('VESPA', 4), ('VICTORY', 14), ('VOLKSWAGEN', 16), ('VOLVO', 8), ('YAMAHA', 110)]