In [1]:
s1 = {1,2,3}
s2 = {2,3,4}

In [2]:
print(s1, id(s1))
print(s2, id(s2))

{1, 2, 3} 1708188470624
{2, 3, 4} 1708188469728

In [3]:
s1 = s1 & s2

In [4]:
print(s1, id(s1))
print(s2, id(s2))

{2, 3} 1708188472640
{2, 3, 4} 1708188469728

In [8]:
id(globals()['s1'])

1708188472640

In [10]:
s1 = {1,2,3}
s2 = {2,3,4}

In [11]:
print(id(s1))
s1 |= s2
print(s1, id(s1))

1708188474432
{1, 2, 3, 4} 1708188474432

In [12]:
s1 = {1,2,3}
s2 = {2,3,4}
print(id(s1))
s1.update(s2)
print(s1, id(s1))

1708188469952
{1, 2, 3, 4} 1708188469952

In [13]:
s1 = {1,2,3}
s2 = {2,3,4}
print(id(s1))
s1 &= s2
print(s1, id(s1))

1708188477120
{2, 3} 1708188477120

In [14]:
s1 = {1,2,3}
s2 = {2,3,4}
print(id(s1))
s1.intersection_update(s2)
print(s1, id(s1))

1708188476672
{2, 3} 1708188476672

In [16]:
s1 = {1,2,3,4}
s2 = {2,3}
print(id(s1))
s1 -= s2
print(id(s1), s1)

1708188469952
1708188469952 {1, 4}

In [17]:
s1 = {1,2,3,4}
s2 = {2,3}
print(id(s1))
s1.difference_update(s2)
print(id(s1), s1)

1708188476448
1708188476448 {1, 4}

In [18]:
s1 = {1,2,3,4}
s2 = {2,3}
s3 = {3,4}

result = (s1 - s2) -s3
print(result)

s1 -= s2 -s3
print(s1)

{1}
{1, 3, 4}

In [19]:
s1 = {1,2,3,4}
s2 = {2,3}
s3 = {3,4}

result = s1 - (s2 - s3)
print(result)

s1 -= s2 -s3
print(s1)

{1, 3, 4}
{1, 3, 4}

In [20]:
s1 = {1,2,3,4}
s2 = {2,3}
s3 = {3,4}

result = s1 - (s2 - s3)
print(result)

s1 -= s2 -s3
print(s1)

s1 = {1,2,3,4}
s2 = {2,3}
s3 = {3,4}
s1.difference_update(s2, s3)
print(s1)

{1, 3, 4}
{1, 3, 4}
{1}

In [21]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7}
s1 ^ s2

{1, 2, 3, 6, 7}

In [22]:
print(id(s1))
s1 ^= s2
print(id(s1), s1)

1708188471744
1708188471744 {1, 2, 3, 6, 7}

In [23]:
s1 = {1,2,3}
s2 = {3,4,5}
s3 = {5,6,7}

print(id(s1))
s1 |= s2 | s3
print(id(s1), s1)

1708188479360
1708188479360 {1, 2, 3, 4, 5, 6, 7}

In [24]:
s1 = {1,2,3}
s1.update([3,4,5], (6,7,8), 'abc')

In [25]:
s1

{1, 2, 3, 4, 5, 6, 7, 8, 'a', 'b', 'c'}

In [26]:
s1 = {1,2,3}
s1 |= set([3,4,5]) | set((6,7,8)) | set('abc')

In [27]:
s1

{1, 2, 3, 4, 5, 6, 7, 8, 'a', 'b', 'c'}

In [28]:
def combine(string, target):
    target.update(string.split(' '))

In [29]:
def cleanup(combined):
    words = {'the', 'and', 'a', 'or', 'is', 'of'}
    combined -= words

In [30]:
result = set()
combine('lumberjacks sleep all night', result)
combine('the ministry of silly walks', result)
combine('this parrot is a late bird', result)
cleanup(result)
print(result)

{'lumberjacks', 'ministry', 'walks', 'parrot', 'late', 'night', 'sleep', 'bird', 'this', 'silly', 'all'}

In [31]:
def gen_read_data():
    yield ['Paris', 'Beijing', 'New York', 'London', 'Madrid', 'Mumbai']
    yield ['Hyderabad', 'New York', 'Milan', 'Phoenix', 'Berlin', 'Cairo']
    yield ['Stockholm', 'Cairo', 'Paris', 'Barcelona', 'San Francisco']

In [32]:
data = gen_read_data()

In [34]:
next(data)

['Paris', 'Beijing', 'New York', 'London', 'Madrid', 'Mumbai']

In [35]:
next(data)

['Hyderabad', 'New York', 'Milan', 'Phoenix', 'Berlin', 'Cairo']

In [36]:
next(data)

['Stockholm', 'Cairo', 'Paris', 'Barcelona', 'San Francisco']

In [37]:
next(data)

StopIteration:

In [38]:
def filter_incoming(*cities, data_set):
    data_set.difference_update(cities)

In [41]:
result = set()
data = gen_read_data()
for page in data:
    result.update(page)
    filter_incoming('Paris', 'London', data_set=result)
print(result)

{'Berlin', 'Beijing', 'Phoenix', 'Stockholm', 'Barcelona', 'New York', 'Madrid', 'San Francisco', 'Mumbai', 'Hyderabad', 'Cairo', 'Milan'}